.navbarContainer {
  display: flex;
  height: 80px;
}

.navContainer {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(85, 43, 9);
  width: 100%;
}

.logoContainer {
  position: static;
}

.navBarItems {
  display: flex;
  height: 100px;
  align-items: center;
  height: 100%;
}

/* .navBarItems :hover {
  align-items: center;
  background-color: chocolate;
  height: 100px;
  height: auto;
} */
.links {
  list-style-type: none;
  text-decoration: none;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.links a {
  text-decoration: none;
  color: white;
}

.links a:hover {
  color: black;
}

.links:hover {
  list-style-type: none;
  align-items: center;
  background-color: chocolate;
  height: 100px;
  height: auto;
  height: 80px;
}
.icon {
  display: none;
}

.responsiveNav {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

/* Resonsive Nav  */

@media only screen and (max-width: 600px) {
  /* .navBarItems {
    display: none;
  } */

  .icon {
    display: block;
    background: #d8d8d8;
    float: right;
    display: block;
    padding: 16px 17px;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  /* .navbarContainer {
    position: relative;
  } */

  .navBarItems {
    display: none;
  }

  .responsiveNav {
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
  }

  .responisveNavActive {
    transform: translatey(0%);
    opacity: 1;
    transition: 0.5s;
  }

  .responsiveNavContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(85, 43, 9);
  }

  .responsiveLinks {
    padding-top: 5%;
    list-style-type: none;
    height: 80px;
    align-items: center;
    text-align: center;
  }

  .responsiveLinks:hover {
    background-color: chocolate;
  }

  .responsiveLinks a {
    text-decoration: none;
    color: white;
  }
  .responsiveLinks a:hover {
    color: black;
  }
}
