.navbarContainer {
  display: flex;
  height: 80px;
}

.navContainer {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(85, 43, 9);
  width: 100%;
}

.logoContainer {
  position: static;
}

.navBarItems {
  display: flex;
  height: 100px;
  align-items: center;
  height: 100%;
}

/* .navBarItems :hover {
  align-items: center;
  background-color: chocolate;
  height: 100px;
  height: auto;
} */
.links {
  list-style-type: none;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links:hover {
  list-style-type: none;
  align-items: center;
  background-color: chocolate;
  height: 100px;
  height: auto;
  height: 80px;
}
.icon {
  display: none;
}

.responsiveNav {
  display: none;
}

/* Resonsive NAv  */

@media only screen and (max-width: 600px) {
  /* .navBarItems {
    display: none;
  } */

  .icon {
    display: block;
    background: #d8d8d8;
    float: right;
    display: block;
    padding: 16px 17px;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  /* .navbarContainer {
    position: relative;
  } */

  .navBarItems {
    display: none;
  }

  .responisveNavActive {
    display: block;
    transition: 0.5s;
    height: auto;

    transition: 0.5s;
  }

  .responsiveNav {
    /* overflow-y: hidden; */
    display: none;
    transition: 0.5s;
  }

  .responsiveNavContainer {
    background-color: rgb(85, 43, 9);
  }
}
