.footerContainer {
    background-color: black;
    border-top: white solid 2px;
    color: white;
    border-bottom: white solid 2px;
  }
  
  .gridContainer {
    display: flex;
    justify-content: space-between;
    height: 70vh;
  }
  
  .grid1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 33%;
    border-right: white solid 2px;
  }
  
  .grid1Title {
    text-align: center;
  }
  
  .grid2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 33%;
    border-right: white solid 2px;
  }
  
  .grid2Title {
    text-align: center;
  }
  
  .grid3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 33%;
  }
  
  .grid3Title {
    text-align: center;
  }
  
  .buttonContainer {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: white solid 2px;
  }
  
  .footerButton {
    color: white;
    background-color: black;
    border: grey solid 2px;
    padding: 12px;
    padding-right: 25px;
    padding-left: 25px;
  }
  
  @media only screen and (max-width: 600px) {
    .gridContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: none;
  
      border-bottom: white solid 2px;
    }
    .grid1 {
      width: 100%;
      display: flex;
      border-right: none;
      height: 20vh;
      border-bottom: white 2px solid;
    }
  
    .grid2 {
      width: 100%;
      display: flex;
      border-right: none;
      height: 20vh;
      border-bottom: white 2px solid;
    }
    .grid3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 20vh;
    }
  
    .buttonContainer {
      height: 20vh;
    }
  }
  