/* Body Grid Layout */

.mainWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}

/* Hero */

.hero__Image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background-image: url("../images/FAMILY\ 2_JD02810.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero__Overlay {
  background-color: rgb(238, 149, 15, 0.93);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contentContainer {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  /*  A function taking two parameters, min and max.*/
  /* If max < min, then max is ignored and minmax(min,max) is treated as min */
  grid-auto-rows: minmax(300px, auto);
  z-index: 2;
}

.grid1 {
  /* background: #444; */
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  z-index: 2;
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.leftPattern {
  background-color: #555;
  width: 170px;
  height: 100%;
}

.grid2 {
  margin-top: 40px;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 2;
}

.grid3 {
  margin-top: 40px;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 2;
}

.grid4 {
  margin-top: 40px;
  margin-right: 80px;
  margin-bottom: 40px;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  z-index: 2;
}

.scrollDiv {
  background-color: #555;
  width: 46px;
  height: 100%;
}
.grid5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px solid #555;
  margin-bottom: 40px;
}

/* Side Bar Left */
/* .sideBarLeft__Image {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    /* background-image: url("../images/wheelchair_man.png"); */
/* background-size: 300px;
    background-repeat: no-repeat;
    background-position: left;
  
    z-index: 1; */
/* }  */

/* Content */
/* .contentMain {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    z-index: 1;
  } */

/* Side Bar (Right) */

/* .sideBarRight__Image {
    grid-column: 5 / -1;
    grid-row: 1 / 4;
    /* background-image: url("../images/lady_standing.png"); */
/* background-size: 300px;
    background-repeat: no-repeat;
    background-position: left;
    z-index: 1; */
/* } */

/* Footer */

/* Grid Key */

.headerHome {
  grid-area: hd;
  z-index: 1;
}

.contentHome {
  grid-area: main;
  z-index: 8;
}

.sidebarLeft {
  grid-area: sdl;
  z-index: 2;
}

.sidebarRight {
  grid-area: sdr;
  z-index: 3;
}

/* Grid Layout */

/* .bodyWrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd"
      "sdl sdl sdl main main main sdr sdr"
      "ft ft ft ft   ft   ft   ft   ft";
  } */
