/* -- HOME CONTENT SECTIOn -- */
/* Section Container Section CSS /////////////////////// */
/* This CSS is for all Section Wrappers (.sectionWrapper) */

.sectionsContainer {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  /* height:100vh; */
  /* background-color:orchid; */
}

.sectionWrapper {
  height: 100vh;
}

/* Grid Container */
.gridContainer {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-gap: 40px;
  padding: 235px 40px 40px;
  height: 100%;
  /* background-color: #503629; */
}

/* Grid 'TWO COLUMN' Container */
.gridTwoColumnContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 40px;
  max-width: 1440px;
  height: 100%;
  margin: 0px auto;
  /* background-color: burlywood; */
}

.gridColumn {
  background-color: magenta;
}

/* Grid 'THREE COLUMN' Container */
.gridThreeColumnContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 40px;
  max-width: 1440px;
  height: 100%;
  margin: 0px auto;
  background-color: burlywood;
}

/*Flex Container*/
.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  /* background-color:crimson; */
}

/* ///////////////////////////// */
/* Custom Class Targeted CSS */
/* Section One (.sectionOne CSS */
.sectionOne {
  background-color: blue;
}

.pacificPattern {
  width: 100%;
  height: 100%;
  background-color: coral;
  justify-content: center;
  align-items: center;
}

/* Section Two (.sectionTwo CSS */
.sectionTwo {
  background: linear-gradient(
      rgba(100, 67, 137, 0.92),
      rgba(100, 67, 137, 0.92)
    ),
    url(../images/preparepacific_bg_healthline_section.jpg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionTwo h1,
.sectionTwo h4,
.sectionTwo p {
  color: #fff;
}

/* Section Three (.sectionThree CSS */
.sectionThree {
  background-color: Green;
}

/* Section Four (.sectionFour CSS */
.sectionFour {
  background-color: orange;
}

/* Section Five (.sectionFive CSS */
.sectionFive {
  background: linear-gradient(rgba(71, 75, 89, 0.92), rgba(71, 75, 89, 0.92)),
    url(../images/preparepacific_bg_contact_section.jpg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/
